html {background: #fff;}

body {
    background: #fff;
    color: #000;
    font-family: 'Malgun Gothic','맑은 고딕','돋움', 'dotum', sans-serif;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {color: #111; font-weight: 300;}

dl, ul, ol, menu, li{list-style: none;}

a{text-decoration:none; color: #000;}
a:hover{text-decoration:none;}
/* 추가 */
textarea{ font-family: 'Malgun Gothic','맑은 고딕','돋움', 'dotum', sans-serif;}

.textarea_80::placeholder {
    color: #ccc;
    /* font-family: 'Malgun Gothic','맑은 고딕','돋움', 'dotum', sans-serif; */
}

.padding_top_20{
    padding-top: 20px;
}

.margin_right_5{
    margin-right: 5px;
}

.margin_left_5{
    margin-left: 5px;
}

.margin_left_10{
    margin-left: 10px;
}

.margin_top_10{
    margin-top: 10px;
}

.margin_top_20{
    margin-top: 20px;
}

.margin_right_10{
    margin-right: 10px;
}

.margin_right_20{
    margin-right: 20px;
}

.margin_bottom_20{
    margin-bottom: 20px;
}

.gt-f-l{
    float: left;
}

.gt-f-r{
    float: right;
}

/* 버튼한개일 경우 가운데 */
.gt-f-c{
    float: right;
    position: relative;
    left: -27%;
}
.clear{
    clear: both;
}
.wrap{

}

.width_100p{
    width: 100%
}



/* 상단 GNB 메뉴 */

.header-wrap{
    position: fixed;
    left: 0px;
    right: 0px;
    background: #fff;
    z-index: 1000;
    width: 100%;
    height: 89px;
    border-bottom: 1px solid #efefef;
}

.plate{
    width: 1096px;
    margin: 0 auto;
}

.logo{
    width: 165px;
    margin-top: 25px;
}

.list_gnb{
    color: #000;
    font-size: 17px;
    font-weight: 400;
    padding-top: 16px;
}

.gnb_1depth{
    line-height:89px; /*submenu추가로 추가 2019-05-15*/
    padding: 0px 25px;  /* 수정 2019-05-28*/
}

.gnb_1depth:hover{
   line-height:89px; /*submenu추가로 추가 2019-05-15*/
   color: #d0112b;
   cursor: pointer;
}

.gnb_1depth_bold{
    font-weight: 400;
}

/* .gnb_qna{
} */

.gnb_qna:hover > .list_gnb_sub {opacity: 1;}

.list_gnb_sub{
    width: 100%;
    height: 40px;
    background-color: #fff;
    border-bottom: 1px solid #efefef;
    z-index: 1001;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 90px;
    font-size: 16px;
    color: #000;
    padding-top:20px;
    transition: all 0.5s;
}

.list_gnb_sub ul{
    width: 1096px;
    margin: 0 auto;
    position: relative;
    left: 685px;
}

.list_gnb_sub ul li span{
    padding-right: 30px;
}

.list_gnb_sub ul li span:hover{
    color: #d0112b;
}


.login{
    float: right;
    height: 20px;
    width: 72px;
    border-radius: 30px;
    border: 1px solid #d6d6d6;
    padding: 10px 18px;
    margin-top:24px;
    cursor: pointer;
}

.login:hover{border: 1px solid #bdbdbd;}

/** a태그를 삭제하고 span으로 변경 */
.login span{
    padding-left: 10px;
    font-size: 14px;
}

.logout{ /* 추가 2019-05-28*/
    float: right;
    height: 20px;
    width: 84px;
    border-radius: 30px;
    border: 1px solid #d6d6d6;
    padding: 10px 18px;
    margin-top:24px;
    cursor: pointer;
}

.logout:hover{border: 1px solid #bdbdbd;} /* 추가 2019-05-28*/

.logout span{ /* 추가 2019-05-28*/
    padding-left: 10px;
    font-size: 14px;
}

.logout div img{ /* 추가 2019-05-28*/
    padding-top: 1px;
}

.mypage{
    float: right;
    height: 20px;
    /* width: 115px; */
    border-radius: 30px;
    border: 1px solid #d6d6d6;
    padding: 10px 18px;
    margin-top:24px;
    margin-right: 10px;
    cursor: pointer
}

.mypage:hover{border: 1px solid #bdbdbd;}

/** a태그를 삭제하고 span으로 변경 */
.mypage span{
    padding-left: 10px;
    font-size: 14px;
}

/* 내용 */
.contents{
    position: relative;
    top: 90px;
    min-height: 788px;
}

.swiper-container{
    width: 100%;
    height: 780px;
    /* background: url(https://res.cloudinary.com/dlpg5kdj1/image/upload/v1557475109/skhappycampus/company_logo/lowCapMain_ltglop.jpg) no-repeat 50% 0 #845cce; */
    background: url(https://res.cloudinary.com/dlpg5kdj1/image/upload/v1563158139/newimage5_evjzi8.jpg) no-repeat 50% 0 #845cce;
    background-size: cover; 
    text-align: center;
}

.main_title{
    color: #fff;
    font-size: 32px;
    line-height: 55px;
    letter-spacing: -3px;
    padding-top: 175px;
    font-weight: 400;
}

.sub_title{
    color: #fff;
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 55px;
}

.btn_area{
    display: block;
}

.main_btn{
    padding:13px 20px;
    color: #fff;
    font-size: 17px;
    border: 1px solid #fff;
    cursor: pointer;
}

.main_btn:hover{
    background-color: #d0112b;
    border: 0px;
    transition: all 0.5s;
}

.menu_area{
    width: 100%;
    margin-top: 140px;
}

.menu_box{
    width: 1096px;
    margin: 0 auto;
    height: 150px;
    padding:0px;
}

.menu_box ul{
    padding:0px; margin:0px;
}

.manu_box_recruit{
    background:url(../../public/assets/img/icon_recruit.png) no-repeat 85% 50%;
    width: 338px;
    height: 150px;
    background-color: #fff;
    text-align: left;
    cursor: pointer;
}

.manu_box_recruit:hover{
    color: #fff;
    background:url(../../public/assets/img/icon_recruit_hover.png)  no-repeat 85% 50% #d1152e;
    transition: all 0.5s;
}

.manu_box_company{
    background:url(../../public/assets/img/icon_company.png) no-repeat 85% 50%;
    width: 338px;
    height: 150px;
    background-color: #fff;
    text-align: left;
    cursor: pointer;
}

.manu_box_company:hover{
    color: #fff;
    background: url(../../public/assets/img/icon_company_hover.png)  no-repeat 85% 50% #d1152e;
    transition: all 0.5s;
}

.manu_box_qna{
    background:url(../../public/assets/img/icon_qna.png) no-repeat 85% 50%; 
    width: 338px;
    height: 150px;
    background-color: #fff;
    text-align: left;
    cursor: pointer;
}

.manu_box_qna:hover{
    color: #fff;
    background: url(../../public/assets/img/icon_qna_hover.png) no-repeat 85% 50% #d1152e;
    transition: all 0.5s;
}

.menu_box_text{
    float: left;
    padding: 38px 0 0 30px;
}

.menu_box_main_title{
    font-size: 20px;
}

.menu_box_sub_title{
    font-size: 14px;
    padding-top:10px;
}

.menu_box_icon{
    float: right;
    margin-right: 30px;
    margin-top: 40px;
}



/* 하단 Footer */

.footer-wrap{
    position: relative;
    top: 90px;
    background: #fff;
    width: 100%;
    height: 60px;
    text-align: center;
}

.footer-wrap_text{
    color: #999;
    font-size: 14px;
    padding-top: 8px;
}

/* 서브페이지 */

.sub-contents{
    /* min-height: 900px; */
    min-height: 788px;
    position: relative;
    top: 90px;
    width: 100%;
    background-color: #eff0f2;
}

.sub-contents_orange{
    min-height: 788px;
    position: relative;
    top: 90px;
    width: 100%;
    background-color: #f8f0dd;
}

.sub-container{
    width: 1096px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}


.location{
    padding-top: 30px;
    height: 16px;
    font-size: 14px;
    color: #666;
}

.location-inner{
    float: right;
}

.location-item{
    float: left;
    padding-left: 15px;
}

.sub-info{
    float: left;
    text-align: left;
    width: 1096px;
    overflow: hidden;
}

.sub_heading{
    font-size: 40px;
    font-weight: 400;
    letter-spacing: -2px;
    margin: 0;
    padding: 7px 0 7px 0;
}

.sub_heading_text{
    font-size: 16px;
    color: #777777;
    letter-spacing: -1px;
}

.search_area{
    float: right;
}
.searchsearch{
    position: relative;
    top: -40px;
}

.selectric{
    width: 100px;
    height: 36px;
    border: 1px solid #ccc;
    background: #fff;
    padding-left: 10px;
    color: #666;
    float: left;
    margin-right: 10px;
}

.selectric_label{
    font-size: 16px;
    line-height:2.5;
}

.selectric_button{
    position: absolute;
    top: 10px;
    right: 255px;
}

.slct_box_list{
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    width: 110px;
    left:0;
    top: 36px;
    z-index: 999;
}

.slct_box_list ul{
    overflow-y: scroll;
    max-height: 150px;
    padding: 8px 0 8px 10px;
    margin: 0;
}

.slct_box_list ul li{
    padding: 0;
}


.selectric_input_01{
    width: 170px;
    height: 36px;
    border: 1px solid #ccc;
    background: #fff;
}

.selectric_search_button{
    width: 60px;
    height: 39px;
    background-color: #444;
    color: #fff;
    font-size: 16px;
    border: 0;
    position: relative;
    top: 2px;
    cursor: pointer;
}

.selectric_search_button_100px{
    width: 100px;
    height: 39px;
    background-color: #444;
    color: #fff;
    font-size: 16px;
    border: 0;
    position: relative;
    top: 2px;
    cursor: pointer;
}

.sub_box{
    position: relative;
    overflow: hidden;
    width: 1096px;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    margin-bottom: 50px;
}

.sub_box_orange{
    position: relative;
    overflow: hidden;
    width: 1096px;
    background-color: #f8f0dd;
    margin-bottom: 50px;
}

/*STEP2 필수동의 페이지용 */
.sub_box_agreement{
    position: relative;
    overflow: hidden;
    width: 1096px;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    margin-bottom: 20px;
}

.sub_login_box{
    position: relative;
    overflow: hidden;
    width: 426px;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    margin: 59px auto 351px;
    padding: 25px 60px 20px;

    /* margin-bottom: 50px; */
}
.apply_area {
    padding: 36px 0 30px;
}

/* 3depth 일때 */
.sub_heading_3dep{
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: -2px;
    margin: 0;
    padding: 10px 0 48px 0;
}

.sub_heading_3dep_2{ /* 제목하단에 글자가 있을때 */
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: -2px;
    margin: 40px 0 0 0;
    padding: 10px 0 10px 0;
}

.annotate{
    font-size: 14px;
    float: right;
    color: #333;
    padding-bottom: 10px;
}

.Process_area{
    width: 1096px;
    height: 86px;
    box-sizing: border-box;
}

.Process_area_myapply{
    width: 500px;
    height: 86px;
    box-sizing: border-box;
    margin-bottom: 30px;
}


.Process_back{
    margin-top: 45px;
    background:url(../../public/assets/img/back_apply_process_line.png) repeat; 
    height: 2px;
}

.Process_back_myapply{
    margin-top: 45px;
    background:url(../../public/assets/img/back_apply_process_line.png) repeat; 
    height: 2px;
    width: 400px;
}

.Process_list{
    position: absolute;
    width: 1096px;
    top: 80px;
    margin: 0;
    padding:0;
}

.Process_list_myapply{
    /* position: absolute; */
    width: 1096px;
    top: 180px;
    margin: 0;
    padding:0;
}

.Process_prev{
    border-radius: 50%;
    width: 86px;
    height: 86px;
    background-color: #eff0f2;
    border: 2px solid #d0112b;
    color: #d0112b;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -1px;
}

.Process_prev_myapply{
    margin-top: -40px;
    border-radius: 20%;
    width: 95px;
    height: 83px;
    background-color: #eff0f2;
    border: 2px solid #d0112b;
    color: #d0112b;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -1px;
}


.Process_prev_myapply .Process_text{
    margin-top: -41px;
    vertical-align: middle;
    position:relative;
}


.Process_prev .Process_text{
    vertical-align: middle;
    position:relative;
}


.Process_on{
    border-radius: 50%;
    width: 86px;
    height: 86px;
    background-color: #d0112b;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -1px;
}

.Process_on_myapply{
    /* position:relative; */
    margin-top: -40px;
    border-radius: 20%;
    width: 95px;
    height: 86px;
    background-color: #d0112b;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -1px;
}

.Process_on_myapply .Process_text{
    margin-top: -41px;
    vertical-align: middle;
    position:relative;
}

.Process_on .Process_text{
    
    vertical-align: middle;
    position:relative;
}

.Process_next{
    border-radius: 50%;
    width: 86px;
    height: 86px;
    background-color: #eff0f2;
    border: 2px solid #c8c8c8;
    color: #111;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -1px;
}

.Process_next_myapply{
    margin-top: -40px;
    border-radius: 20%;
    width: 95px;
    height: 83px;
    background-color: #eff0f2;
    border: 2px solid #c8c8c8;
    color: #111;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -1px;
}

.Process_next_myapply .Process_text{
    margin-top: -41px;
    vertical-align: middle;
    position:relative;
}

.Process_next .Process_text{
    vertical-align: middle;
    position:relative;
}



/* 모집공고 */

.apply_area {
    padding: 45px 40px;
    overflow: hidden;
}

.apply_list{
    padding: 0;
    margin: 0;
}

.apply_list li{
    float: left;
    text-align: left;
    width: 1016px;
    border-bottom: 1px solid #dedede;
}

.apply_list li a{
    position: relative;
} 

.apply_position{
    width: 40px;
    border-radius: 20px;
    border: 1px solid #d6d6d6;
    padding: 2px 3px 2px 10px;
    color: #666;
    font-size: 16px;
}

.apply_position_wide{
    width: 77px;
    border-radius: 20px;
    border: 1px solid #d6d6d6;
    padding: 2px 3px 2px 10px;
    color: #666;
    font-size: 16px;
}

.apply_title{
    color: #111;
    font-size: 22px;
    padding-top: 10px; 
    letter-spacing: -1px;
    /* cursor: pointer; */
}

.apply_title .pointer{
    cursor: pointer;
}

.apply_title .day{
    border-radius: 20px;
    color: #fff;
    font-size: 14px;
    background-color: #ee7421;
    padding: 2px 6px 4px;
    margin-left: 10px;
}

.apply_date{
    color: #666;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 14px;
}

.apply_btn{
    position: absolute;
    top: 2px;
    left: 920px;
    float: right;
    text-align: right;
    border-radius: 50px;
    background-color: #d0112b;
    width: 80px;
    height: 40px;
    padding: 35px 8px 15px 3px;
    color: #fff;
    font-size: 18px;
}

.apply_end_btn{
    position: absolute;
    top: 2px;
    left: 920px;
    text-align: center;
    border-radius: 50px;
    background-color: #a2a2a2;
    width: 80px;
    height: 40px;
    padding: 34px 4px 16px 7px;
    color: #fff;
    font-size: 18px;
}

/* 페이징 */

.paging_area{
    position: relative;
    text-align: center;
    font-size: 16px;
    padding-bottom: 50px;
}

.paging_prev{
    display: inline-block;
    width: 19px;
    background:url(../../public/assets/img/btn_paging_arrow1.png) no-repeat 50%; 
    text-indent: -99999;
    margin-right: 20px;
    cursor: pointer;
}

.paging_num{
    width: 32px;
    height: 32px;
    background-color: #eaeaea;
    text-align: center;
    padding: 5px 10px;
    cursor: pointer;
}

.paging_num_on{
    width: 32px;
    height: 32px;
    background-color: #d0112b;
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    cursor: pointer;
}

.paging_next{
    display: inline-block;
    width: 19px;
    background:url(../../public/assets/img/btn_paging_arrow2.png) no-repeat 50%; 
    text-indent: -99999;
    margin-left: 20px;
    cursor: pointer;
}


/* 지원하기 > 개인정보입력 */

.apply_step4 {
    padding: 45px 40px;
    overflow: hidden;
}

.apply_step4_list{
    padding: 0;
    margin: 0;
    text-align: left;
}

.apply_step4_table_area{
    margin-top: 50px;
}

.apply_step4_table_title{
    font-size: 18px;
    font-weight: 600;
    color: #111;
    letter-spacing: -1;
    margin-bottom: 20px;
}

.apply_step4_table_title span{
    color: #666;
    font-size: 14px;
    float: right;
    font-weight: 400;
    text-align: right;
}


.apply_step4_table_inner_content {
    color: #666;
    font-size: 14px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
    font-weight: 400;
}


/*테이블 스타일 1 */
.apply_step4_table_contents{
    width: 1016px;
    border-top: 2px solid #dedede;
    text-align: left;
    color: #111;
    font-size: 14px;
    border-collapse:collapse;
    font-weight: 300;
    margin-top: 15px;
}

.apply_step4_table_contents tbody tr {
    height: 40px;
}

.apply_step4_table_contents tbody tr th{
    border-bottom: 1px solid #dedede;
    background-color: #f3f3f3;
    padding-left: 10px;
    text-align: left;
}

.apply_step4_table_contents tbody tr td{
    border-bottom: 1px solid #dedede;
    padding-left: 10px;
}

/*테이블 스타일 2 */
.apply_step4_table2_contents{
    width: 1016px;
    border-top: 2px solid #dedede;
    text-align: left;
    color: #111;
    font-size: 14px;
    border-collapse:collapse;
    font-weight: 300;
}

.apply_step4_table2_contents tbody tr {
    height: 40px; 
}

.apply_step4_table2_contents tbody tr th{
    border-bottom: 1px solid #dedede;
    background-color: #f3f3f3;
    text-align: center;
    border-right: 1px solid #dedede;
}

.apply_step4_table2_contents tbody tr td{
    border-bottom: 1px solid #dedede;
    text-align: center;
    border-right: 1px solid #dedede;
}




.asterisk{
    color: #d0112b;
}

input::-ms-input-placeholder { color: #c8c8c8; }
input::-webkit-input-placeholder { color: #c8c8c8; } 
input::-moz-placeholder { color: #c8c8c8; }

.text_inp_95px{
    width: 95px;
    height: 28px;
    background-color: #fff;
    border: 1px solid #dedede;
    vertical-align: middle;
    padding: 0 10px;
    color: #333;
    font-size: 14px;
}




.text_inp_disable_150px{
    width: 150px;
    height: 28px;
    background-color: #eff0f2;
    border: 1px solid #dedede;
    vertical-align: middle;
    padding: 0 10px;
    color: #333;
    font-size: 14px;
}

.text_inp_248px{
    width: 248px;
    height: 28px;
    background-color: #fff;
    border: 1px solid #dedede;
    vertical-align: middle;
    padding: 0 10px;
    color: #333;
    font-size: 14px;
}

.text_inp_292px{
    width: 292px;
    height: 28px;
    background-color: #fff;
    border: 1px solid #dedede;
    vertical-align: middle;
    padding: 0 10px;
    color: #333;
    font-size: 14px;
}

.text_inp_378px{
    width: 378px;
    height: 28px;
    background-color: #fff;
    border: 1px solid #dedede;
    vertical-align: middle;
    padding: 0 10px;
    color: #333;
    font-size: 14px;
}

.text_inp_800px{
    width: 800px;
    height: 28px;
    background-color: #fff;
    border: 1px solid #dedede;
    vertical-align: middle;
    padding: 0 10px;
    color: #333;
    font-size: 14px;
}

.text_inp_95pc{
    width: 94%;
    height: 28px;
    background-color: #fff;
    border: 1px solid #dedede;
    vertical-align: middle;
    padding: 0 10px;
    color: #333;
    font-size: 14px;
}

.text_inp_disable_95px{
    width: 95px;
    height: 28px;
    background-color: #eff0f2;
    border: 1px solid #dedede;
    vertical-align: middle;
    padding: 0 10px;
    color: #333;
    font-size: 14px;
}

.text_inp_disable_248px{
    width: 248px;
    height: 28px;
    background-color: #eff0f2;
    border: 1px solid #dedede;
    vertical-align: middle;
    padding: 0 10px;
    color: #333;
    font-size: 14px;
}

.text_inp_disable_378px{
    width: 378px;
    height: 28px;
    background-color: #eff0f2;
    border: 1px solid #dedede;
    vertical-align: middle;
    padding: 0 10px;
    color: #333;
    font-size: 14px;
}

.text_inp_disable_122px{
    width: 122px;
    height: 28px;
    background-color: #eff0f2;
    border: 1px solid #dedede;
    vertical-align: middle;
    padding: 0 10px;
    color: #333;
    font-size: 14px;
}

.text_inp_disable_292px{
    width: 292px;
    height: 28px;
    background-color: #eff0f2;
    border: 1px solid #dedede;
    vertical-align: middle;
    padding: 0 10px;
    color: #333;
    font-size: 14px;
}


.text_inp_disable_700px{
    width: 700px;
    height: 28px;
    background-color: #eff0f2;
    border: 1px solid #dedede;
    vertical-align: middle;
    padding: 0 10px;
    color: #333;
    font-size: 14px;
}


.text_inp_disable_96pc{
    width: 96%;
    height: 28px;
    background-color: #eff0f2;
    border: 1px solid #dedede;
    vertical-align: middle;
    padding: 0 10px;
    color: #333;
    font-size: 14px;
}

.text_inp_disable_98pc{
    width: 98%;
    height: 28px;
    background-color: #eff0f2;
    border: 1px solid #dedede;
    vertical-align: middle;
    padding: 0 10px;
    color: #333;
    font-size: 14px;
}

.text_inp_disable_91pc{
    width: 91%;
    height: 28px;
    background-color: #eff0f2;
    border: 1px solid #dedede;
    vertical-align: middle;
    padding: 0 10px;
    color: #333;
    font-size: 14px;
}


.text_inp_disable_88pc{
    width: 88%;
    height: 28px;
    background-color: #eff0f2;
    border: 1px solid #dedede;
    vertical-align: middle;
    padding: 0 10px;
    color: #333;
    font-size: 14px;
}


.text_sel_100px{
    width: 100px;
    height: 40px;
    border: 1px solid #ccc;
    background-color: #fff;
    padding-left: 10px;
    color: #111;
    float: left;
    margin-top: 2px;
    margin-right:5px;
    -webkit-appearance:none;
    background:url(../../public/assets/img/img_select_arrow.png) #fff no-repeat 90%;

}

.text_sel_312px{
    width: 312px;
    height: 28px;
    background-color: #fff;
    border: 1px solid #dedede;
    padding: 0 0 0 10px;
    color: #333;
    font-size: 14px;
    appearance:none;
    -webkit-appearance:none;
    background:url(../../public/assets/img/img_select_arrow.png) no-repeat 95%;
}
select::-ms-expand { opacity: 0;}

.text_sel_151px{
    width: 151px;
    height: 28px;
    background-color: #fff;
    border: 1px solid #dedede;
    padding: 0 0 0 10px;
    color: #333;
    font-size: 14px;
    appearance:none;
    -webkit-appearance:none;
    background:url(../../public/assets/img/img_select_arrow.png) no-repeat 90%;
}

.text_sel_165px{
    width: 165px;
    height: 28px;
    background-color: #fff;
    border: 1px solid #dedede;
    padding: 0 0 0 10px;
    color: #333;
    font-size: 14px;
    appearance:none;
    -webkit-appearance:none;
    background:url(../../public/assets/img/img_select_arrow.png) no-repeat 90%;
}


.text_sel_120px{
    width: 120px;
    height: 28px;
    background-color: #fff;
    border: 1px solid #dedede;
    padding: 0 0 0 10px;
    color: #333;
    font-size: 14px;
    appearance:none;
    -webkit-appearance:none;
    background:url(../../public/assets/img/img_select_arrow.png) no-repeat 90%;
}
.apply_radio_area{
    font-size: 14px;
}

.radio_18{
    width: 18px;
    height: 18px;
    font-size: 14px;
    vertical-align: middle;
}

.apply_radio_area rabel{
    margin: 5px 0 0 -4px;
}

/*
.checkbox_18{
    width: 18px;
    height: 18px;
    font-size: 14px;
    vertical-align: middle;
}
*/


/* 체크박스 커스텀 디자인*/
/* input[id="chkbox"]{
    display: none;
}

input[id="chkbox"] + label em {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 5px;
    background:url(../../public/assets/img/img_checkbox.png) 0 0 no-repeat;
    vertical-align: middle;
}

input[id="chkbox"]:checked + label em {
    background-position: -20px 0;
}

input[id="chkbox_1"]{
    display: none;
}

input[id="chkbox_1"] + label em {
    display: inline-block;
    width: 18px;
    height: 22px;
    margin-right: 5px;
    background:url(../../public/assets/img/img_checkbox.png) 0 0 no-repeat;
    vertical-align: middle;
}

input[id="chkbox_1"]:checked + label em {
    background-position: -20px 0;
}


input[id="chkbox_2"]{
    display: none;
}

input[id="chkbox_2"] + label em {
    display: inline-block;
    width: 18px;
    height: 22px;
    margin-right: 5px;
    background:url(../../public/assets/img/img_checkbox.png) 0 0 no-repeat;
    vertical-align: middle;
}

input[id="chkbox_2"]:checked + label em {
    background-position: -20px 0;
} */


input[type="checkbox"]{
    display: none;
}

input[type="checkbox"] + label em {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 5px;
    background: url(../../public/assets/img/img_checkbox.png) 0 0 no-repeat;
    vertical-align: middle;
}

input[type="checkbox"]:checked + label em {
    background-position: -20px 0;
}


.table_btn_area{
    text-align: right;
    font-size: 14px;
    color: #666;
    letter-spacing: -1px;
    float: right;
    margin-top: 20px;
}

.btn_add{
    width: 60px;
    height: 25px;
    background: #dedede;
    float: left;
    color: #111;
    font-size: 14px;
    font-weight: 600;
    background:url(../../public/assets/img/img_icon_add.png) #dedede no-repeat 20%;
    padding: 5px 20px 0 0;
    cursor: pointer;
}

.btn_remove{
    width: 60px;
    height: 25px;
    background: #dedede;
    float: left;
    color: #111;
    font-size: 14px;
    font-weight: 600;
    background:url(../../public/assets/img/img_icon_remove.png) #dedede no-repeat 20%;
    padding: 5px 20px 0 0;
    cursor: pointer;
}

.btn_Search{
    width: 73px;
    height: 25px;
    background: #dedede;
    float: left;
    color: #111;
    font-size: 14px;
    font-weight: 600;
    background:url(../../public/assets/img/img_icon_search.png) #dedede no-repeat 20%;
    padding: 5px 20px 0 0;
    cursor: pointer;
    text-align: right;
    margin-left: 6px;
}

.page_btn_area{
    font-size: 16px;
    margin-bottom: 50px;
}

/*STEP2 필수동의 페이지용 */
.page_btn_area_agreement{
    font-size: 16px;
    margin-bottom: 50px;
    margin-top: 20px;
}

.page_btn_box{
    width: 320px;
    margin: 0 auto;
}

.page_btn_box_3btn{
    width: 500px;
    margin: 0 auto;
}

.page_btn_box_2btn{
    /* width: 500px; */
    margin: 0 auto;
    float: center;
}

.btn_full_save{
    color: #fff;
    width: 150px;
    height: 24px;
    background-color: #a2a2a2;
    padding: 12px 0;
    cursor: pointer;
}

.btn_full_next{
    color: #fff;
    width: 150px;
    height: 24px;
    background-color: #d0112b;
    padding: 12px 0;
    cursor: pointer;
}

/* .btn_full_orange{
    color: #fff;
    width: 150px;
    height: 24px;
    background-color: #f49842;
    padding: 12px 0;
    cursor: pointer;
} */

/* STEP6 회사선택 */

.line_2_gray{
    width: 100%;
    height: 2px;
    background-color: #dedede;
}



.company_img_area{
    padding: 10px 0 0 0;
}

.company_img_box{
    width: 318px;
    padding: 0;
    text-align: center;
    margin-bottom: 50px;
}

.company_img_ci{
    height: 164px;
}

.company_img_ci_title{
    font-size: 20px;
    color: #111;
    font-weight: 600;
    letter-spacing: -2px;
    margin-top: 15px;
    margin-bottom: 10px;
}



.company_img_ci_text{
    font-size: 14px;
    letter-spacing: -1px;
    color: #111;
    line-height: 22px;
}


/* 팝업 */
.popup_wrap{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(17, 17, 17, 0.5);
    z-index: 10;
}

.popup_area{
    position: absolute;
    top:50%; left:50%;
    margin-top:-245px;
    margin-left:-429px;
    width: 798px;
    height: 460px;
    background-color: #fff;
    padding: 30px;
}


/*마이페이지에서 나의지원현황*/
.popup_area_myapply{
    position: absolute;
    top:50%; left:50%;
    margin-top:-290px;
    margin-left:-529px;
    width: 998px;
    height: 550px;
    background-color: #fff;
    padding: 30px;
}


/* 공고 공지용*/
.popup_area_notice{
    position: absolute;
    top:50%; left:50%;
    margin-top:-265px;
    margin-left:-469px;
    width: 878px;
    height: 470px;
    background-color: #fff;
    padding: 30px;
}

/* 회사선택용*/
.popup_area_company{
    position: absolute;
    top:50%; left:50%;
    margin-top:-380px;
    margin-left:-580px;
    width: 1100px;
    height: 700px;
    background-color: #fff;
    padding: 30px;
}

.popup_header{
    height: 46px;
    border-bottom: 1px solid #dedede;
}

.popup_title{
    font-size: 18px;
    font-weight: 600;
    color: #111;
}

.popup_title span{
    color: #ee7421;
}

.popup_close{
    background:url(../../public/assets/img/img_popup_close.png) no-repeat;
    width: 24px;
    height: 24px;
    float: right;
    cursor: pointer;
}

.popup_contents{
    height: 390px;
    overflow-y: scroll;
    border-bottom: 1px solid #dedede;
}
.popup_contents_left{
    height: 390px;
    overflow-y: scroll;
    border-bottom: 1px solid #dedede;
    text-align: left;
}

/*마이페이지에서 나의지원현황*/
.popup_contents_myapply{
    height: 490px;
    overflow-y: scroll;
    border-bottom: 1px solid #dedede;
}

/* 회사선택용*/
.popup_contents_company{
    height: 445px;
    /* overflow-y: scroll; */
    border-bottom: 1px solid #dedede;
}

.popup_contents_title{
    padding: 20px 0 25px 0;
    color: #111;
    font-size: 22px;
    font-weight: 600;
}

.popup_contents_text{
    font-size: 14px;
    letter-spacing: -1px;
    line-height: 26px;
}

.boldtext{
    font-weight: 600;
}

/* 공고 공지용*/
.popup_button_notice_area{
    width: 100%;
    margin-top: 10px;
}

.popup_button_area{
    width: 100%;
    margin-top: 5px;
}

.popup_button_area{
    width: 100%;
    margin-top: 5px;
}

.popup_button_btn{
    margin: 0 40%;
    width: 162px;
    height: 40px;
    background-color: #d0112b;
    color: #fff;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.popup_button_btns{
    width: 162px;
    height: 40px;
    background-color: #d0112b;
    color: #fff;
    font-size: 16px;
    border: none;
    vertical-align: middle;
    padding: 10px 18px;
    margin: 5px 130px;
    cursor: pointer;
    display: inline-block;
}

.popup_company_area{
    /* width: 95%; */
    height: 116px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dedede;
}

.popup_company_img_area{
    display: inline-block;
 
}

.popup_company_img_area ul{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.popup_company_img_area ul li{
    float: left;
    text-align: center;
}

.popup_company_img_area ul li .popup_company_img{
    width: 176px;
    height: 90px;
    border: 1px solid #dedede;
    cursor: pointer;
}

.popup_company_img_area ul li .popup_company_img:hover{
    border: 1px solid #d0112b;
    transition: all 0.5s;
    transform: scale(1.05, 1.05);
}

.popup_company_img_area ul li .popup_company_text{
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -1px;
    padding-top: 10px;
}

.popup_img_arrow_area{
    width: 23px;
    height: 100%;
    display: inline-block;
}

.inline-block{
    display: inline-block;
}
.popup_img_pev_arrow{
    width: 9px;
    height:12px;
    background:url(../../public/assets/img/img_popup_arrow_prv_off.png) no-repeat;
    margin: 140% 30%;
    cursor: pointer;
    /* display: inline-block; */
}

.popup_img_pev_arrow:hover{
    background:url(../../public/assets/img/img_popup_arrow_prv_on.png) no-repeat;
}

.popup_img_next_arrow{
    width: 9px;
    height:12px;
    background:url(../../public/assets/img/img_popup_arrow_next_off.png) no-repeat;
    margin: 140% 30%;
    cursor: pointer;
    /* display: inline-block; */
}

.popup_img_next_arrow:hover{
    background:url(../../public/assets/img/img_popup_arrow_next_on.png) no-repeat;
}

.popup_contents_company_title{
    padding: 20px 0 15px 0;
    color: #111;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    border-bottom: 2px solid #dedede;
}

.popup_company_info_area{
    overflow-y: scroll;
    margin-top: 8px;
    height: 355px;
}

.popup_company_info_area_noscroll{
    /* overflow-y: scroll; */
    margin-top: 8px;
    height: 300px;
}

.popup_company_info_img{
    width: 244px;
    height: 124px;
}
/* (custom)회사 소개 팝업 이미지 사이즈 고정을 위한 css */
.popup_company_info_img img{
    width: 244px;
    height: 124px;
}


.popup_company_info_table{
    font-size: 13px;
    font-weight: 300;
    text-align: left;
    line-height: 26px;
    padding-left: 20px;
}

.popup_company_info_table tbody tr th{
    text-align: left;
    color: #888888;
}

.popup_company_info_gray_box{
    width: 170px;
    height: 80px;
    background-color: #f3f3f3;
    padding: 15px 10px;
}

.popup_company_info_gray_box_big{
    width: 380px;
    height: 80px;
    background-color: #f3f3f3;
    padding: 15px 10px;
}

.popup_company_info_gray_box_title{
    height: 24px;
    color: #fff;
    font-size: 14px;
}

.popup_company_info_gray_box_title span{
    background-color: #9f9f9f;
    padding: 2px 10px;
}

.popup_company_info_gray_box_text{
    font-size: 13px;
    color: #111;
    /* padding-left: 10px; */
    letter-spacing: -1px;
}

.popup_company_choice_area{
    height: 30px;
    margin-left: 250px;
}

.popup_company_choice_area ul li{
    font-size: 14px;
    font-weight: 600;
    float: left;
}


/* faq*/
.faq_list_box{
    height: 20px;
    border-bottom: 1px solid #dedede;
    padding: 15px 20px;
    cursor: pointer;
}

.faq_section{
    font-size: 14px;
    color: #666;
    width: 150px;
}

.faq_section_on{
    font-size: 14px;
    color: #d0112b;
    width: 150px;
}

.faq_title_text{
    font-size: 14px;
    font-weight: 600;
    color: #111;
    width: 800px;
}

.faq_title_text_on{
    font-size: 14px;
    font-weight: 600;
    color: #d0112b;
    width: 800px;
}

.faq_img_off{
    background:url(../../public/assets/img/img_faq_close.png) no-repeat;
    width: 19px;
    height: 19px;
}

.faq_img_on{
    background:url(../../public/assets/img/img_faq_open.png) no-repeat;
    width: 19px;
    height: 19px;
}

.faq_list_box_a{
    height: auto;
    width: 1009px;
    border-bottom: 1px solid #dedede;
    cursor: pointer;
}

.faq_title_text_a{
    background-color: #f4f4f4;
    font-size: 14px;
    color: #111;
    padding: 15px 50px 15px 170px;
    font-weight: 400;
    line-height: 22px;
}

/* 로그인 페이지 CSS(Custom) */ 
.login_area {
    padding: 20px 0 30px;
}

.sub_login_box h3{
    font-size: 22px;
    font-weight: normal;
    text-align: left;
}

.login_area .inpt_field {
    text-align: center;
}

.inpt_field.v2{
    padding-bottom: 10px;
}

.login_area .inpt_field .text_inpt{
    width: 375px;
    height: 36px;
    border: 1px solid #ccc;
    background: #fff;
    padding: 0 10px;
}

.login_area .inpt_field .text_inpt_50 {
    width: 100px;
    height: 36px;
    border: 1px solid #ccc;
    background: #fff;
    padding: 0 10px;
    display: inline-block;
}

.login_area .inpt_field .text_inpt_70 {
    width: 130px;
    height: 36px;
    border: 1px solid #ccc;
    background: #fff;
    padding: 0 10px;
    display: inline-block;
}

.login_area .inpt_field .sel_inpt_70 {
    width: 150px;
    height: 37px;
    border: 1px solid #ccc;
    background: #fff;
    margin-top: 1px;
    display: inline-block;
}

.login_area .login_field{
    vertical-align: middle;
    text-align: center;
}
.login_area .login_field .login_btn{
    height: 20px;
    width: 95px;
    background-color: #d0112b;
    color: #fff;
    padding: 10px 18px;
    margin: 24px 10px;
    cursor: pointer;
    display: inline-block;
}

.login_below_comment{
    font-size: 13px;
    color: #111;
    font-weight: 400;
    margin-top: 10px;
}


/* 회원가입 페이지 */
.sub_register_box{
    position: relative;
    overflow: hidden;
    width: 1096px;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    margin-bottom: 50px;
    padding: 10px 30px 30px 30px;
}

.sub_register_box h3{
    font-size: 22px;
    font-weight: normal;
    text-align: left;
}

.register_area .text_inpt{
    width: 150px;
    height: 30px;
    border: 1px solid #ccc;
    background: #fff;
    padding: 0 10px;
    margin-right: 5px;
}

.register_field{
    margin-bottom: 5px;
}
/* (custom) 버튼 css */
.normal_red_right_btn{
    float: right;
    height: 30px;
    width: 80px;
    border: 1px solid #d0112b;
    background-color: #d0112b;
    color: #fff;
    cursor: pointer;
    margin-left: 5px;
}

.normal_red_center_btn{
    float: center;
    height: 30px;
    width: 80px;
    border: 1px solid #d6d6d6;
    background-color: #d0112b;
    color: #fff;
    cursor: pointer;
    margin-left: 5px;
} 
.normal_gray_center_btn{
    /* float: center; */
    height: 30px;
    width: 80px;
    border: 1px solid #d6d6d6;
    background-color: #d6d6d6;
    /* color: #fff; */
    cursor: pointer;
    margin-left: 5px;
    /* left: -30% */
}

/** 개인정보 동의 */
.term_of_service {
    width: 1000px;
    text-align: left;
    padding: 20px 20px 20px;
    margin-top: 20px;
}

.term_of_service p{
    font-size: 12px;
}
.term_of_service h1{
    font-size: 20px;
    font-weight: 400;
}

.term_of_service h2{
    font-size: 16px;
    font-weight: 400;
}


.term_of_service_table{
    width: 750px;
    border-top: 2px solid #dedede;
    text-align: left;
    color: #111;
    font-size: 12px;
    border-collapse:collapse;
    font-weight: 300;
    padding: 0 10px;
    margin: 0 auto;
}

.term_of_service_table thead tr {
    height: 40px; 
}
.term_of_service_table thead tr th{
    border-bottom: 1px solid #dedede;
    background-color: #e0ebfc;/*d0112b f3f3f3 */
    text-align: center;
    border-right: 1px solid #dedede;
    border-left: 1px solid #dedede;
}

.term_of_service_table thead tr td{
    border-bottom: 1px solid #dedede;
    text-align: center;
    border-right: 1px solid #dedede;
    border-left: 1px solid #dedede;
    /* padding: 0 5px 0 5px; */
}
.term_of_service_table tbody tr {
    height: 40px;
}
.term_of_service_table tbody tr th{
    border-bottom: 1px solid #dedede;
    background-color: #e0ebfc;/*d0112b f3f3f3 */
    text-align: center;
    border-right: 1px solid #dedede;
    border-left: 1px solid #dedede;
}
.term_of_service_table tbody tr td{
    border-bottom: 1px solid #dedede;
    text-align: center;
    border-right: 1px solid #dedede;
    border-left: 1px solid #dedede;
    padding: 0 5px 0 5px;
}
/* 1:1 문의 CSS */
.question_area {
    padding: 20px 0 30px;
    text-align: center;
}

.question_area .text_inpt{
    width: 680px;
    height: 30px;
    border: 1px solid #ccc;
    background: #fff;
    padding: 0 10px;
    margin-right: 5px;
}

.textarea_95{
    width: 90%;
    height: 500px;
    border: 1px solid #ccc;
    background: #fff;
    padding: 10px 10px 10px 10px;
    margin-right: 5px;
    font-weight: 300;
    font-family: 'Malgun Gothic' !important;
    resize: none; /* 사용자 임의 변경 불가 */
}
.textarea_95pc_60px{
    width: 94%;
    height: 60px;
    border: 1px solid #ccc;
    background: #fff;
    padding: 10px 10px 10px 10px;
    margin-right: 5px;
    font-weight: 300;
    font-family: 'Malgun Gothic' !important;
    resize: none; /* 사용자 임의 변경 불가 */
}

.textarea_80{
    width: 800px;
    height: 80px;
    border: 1px solid #ccc;
    background: #fff;
    padding: 10px 10px 10px 10px;
    margin-right: 5px;
    font-weight: 300;
    font-family: 'Malgun Gothic' !important;
    resize: none; /* 사용자 임의 변경 불가 */
    
}

.textarea_40{
    width: 800px;
    height: 40px;
    border: 1px solid #ccc;
    background: #fff;
    padding: 10px 10px 10px 10px;
    margin-right: 5px;
    font-weight: 300;
    font-family: 'Malgun Gothic' !important;
    resize: none; /* 사용자 임의 변경 불가 */
    
}


.textarea_disable_95{
    width: 95%;
    height: 100px;
    background-color: #eff0f2;
    border: 1px solid #dedede;
    vertical-align: middle;
    margin-top: 10px;
    padding: 10px 10px 10px 10px;
    margin: 5px 0 5px 0;
    color: #333;
    font-size: 14px;
    resize: none; /* 사용자 임의 변경 불가 */
}

.textarea_disable_95::placeholder {
    color: #ccc;
    font-family: 'Malgun Gothic','맑은 고딕','돋움', 'dotum', sans-serif;
}

.question_area .question_field{
    margin-bottom: 5px;
}

.question_table_contents{
    text-align: left;
    color: #111;
    font-size: 14px;
    font-weight: normal;
    display: inline-block;
}

.question_table_contents tbody tr {
    height: 40px; 
}

.question_table_contents tbody tr td{
    font-weight: 600;
    text-align: left;
    padding-right: 10px;
}


/* 마이페이지 문의 현황 팝업 */
.mypage_table_area{
    margin-top: 10px;
    text-align: center;
}
.mypage_table_contents{
    width: 750px;
    border-top: 2px solid #dedede;
    /* text-align: center; */
    color: #111;
    font-size: 14px;
    border-collapse:collapse;
    font-weight: 300;
    display: inline-block;
}

.mypage_table_contents tbody tr {
    height: 40px; 
}

.mypage_table_contents tbody tr th{
    border-bottom: 1px solid #dedede;
    background-color: #f3f3f3;
    text-align: left;
    border-right: 1px solid #dedede;
    padding: 0 10px;
}

.mypage_table_contents tbody tr td{
    border-bottom: 1px solid #dedede;
    text-align: left;
    border-right: 1px solid #dedede;
    padding: 0 10px;
}

.intro_area{
    padding: 5px 5px 5px 5px;
}

/* 회사소개 홈페이지 이동 hover*/
.company_url {
    cursor: pointer;
}
.company_url:hover{
    cursor: pointer;
    text-decoration: underline;
    
}

.Process_list_backgroud{
    /* float: center; */
    height: 95px;
    width: 1050px;
    border-radius: 60px;
    border: 1px solid #d6d6d6;
    padding: 10px 18px;
    margin-top: 22px;
    margin-right: 10px;
    background: #fff;

}

.Process_list_backgroud_myapply{
    /* float: center; */
    height: 97px;
    width: 435px;
    border-radius: 20px;
    border: 1px solid #d6d6d6;
    left: 100px;
    padding: 10px 18px;
    margin-top: 22px;
    background: #fff;
    margin-left: 255px; /* 153px; */

}


.textarea_apply_95{
    width: 900px;
    height: 480px;
    background: #fff;
    font-weight: 400;
    font-family: 'Malgun Gothic' !important;
    resize: none; /* 사용자 임의 변경 불가 */
}

.textarea_apply_disabled{
    width: 995px;
    height: 480px;
    font-weight: 400;
    font-family: 'Malgun Gothic' !important;
    background-color: #eff0f2;
    border: 1px solid #dedede;
    vertical-align: middle;
    padding: 10px 10px 10px 10px;
    color: #333;
    font-size: 14px;
}

.btn_add_Search{
    width: 73px;
    height: 25px;
    background: #dedede;
    float: right;
    color: #111;
    font-size: 14px;
    font-weight: 600;
    background:url(../../public/assets/img/img_icon_search.png) #dedede no-repeat 20%;
    padding: 5px 20px 0 0;
    cursor: pointer;
    text-align: right;
    margin-right: 10px;
    
}



  /*
   Layout styles.
   I like to work on stuff that's good looking so I remixed a cool simple menu by Mike Rojas (thanks!): https://codepen.io/mikerojas87/pen/rojKb 
   */

  .menu-container {
    text-align: center;
  }
  nav ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  .nav {
    display: inline-block;
    margin: 2rem auto 0;
    background: #0d2035;
    color: #fff;
    text-align: left;
  }
  .nav span {
    display: block;
    padding: 0 16px;
    line-height: inherit;
    cursor: pointer;
  }

  .nav__menu-item {
    display: inline-block;
    position: relative;
  }
  .nav__menu-item:hover {
    color: #d0112b;
    cursor: pointer;
  }
  .nav__menu-item:hover .nav__submenu {
    display: block;
  }
  .nav__submenu {
    font-weight: 300;
    text-transform: none;
    display: none;
    position: absolute;
    width: 180px;
    line-height: 50px;
    left: 12px;
    background-color: #fff;
    /* border: #efefef solid; */ 
    /* border-top-color: #fff !important; */
    border-width: 0px;
    box-shadow: 3px 3px 3px gray; 
  }
  
  .nav__submenu-item {
    font-size: 11pt;
    font-family: 'Malgun Gothic','맑은 고딕','돋움', 'dotum', sans-serif;
  }

  .nav__submenu-item a {
    padding: 0 0 0 10px
  }

  .nav__submenu-item:hover {
    background: rgba(0, 0, 0, 0.05);
    cursor: pointer;
  }

  .nav__submenu-item:hover a{
    color: #d0112b;
    cursor: pointer;
  }
  .mypage_myinfo-item{
  }
  .mypage_myinfo-item:hover {
    color: #d0112b;
    cursor: pointer;
  }
  

/* 
.personal_notice{
    float: right;
    height: 20px;
    width: 100px;
    border-radius: 30px;
    border: 1px solid #d6d6d6;
    background-color: #d0112b;
    color: #fff;
    padding: 10px 18px;
    margin-top:24px;
    cursor: pointer;
}

.personal_notice:hover{border: 1px solid #bdbdbd;} 

.personal_notice span{
    padding-left: 10px;
    font-size: 14px;
} */

.notice_title{
    font-size: 22px;
    color: #111;
    letter-spacing: -1px;
    padding-top: 15px;
    padding-bottom: 20px;
    cursor: pointer;
}
.notice_title span{
    color: #666;
    font-size: 22px;
    float: right;
    text-align: right;
}

.notice_position_wide{
    width: 50px;
    border-radius: 20px;
    border: 1px solid #d6d6d6;
    padding: 2px 3px 2px 10px;
    color: #666;
    font-size: 16px;
}


/************************Partner CSS 추가 *************************************/

.btn_full_gray{
    color: #fff;
    height: 24px;
    background-color: #a2a2a2;
    padding: 12px 40px;
    cursor: pointer;
    text-align: center;
}

.btn_full_red{
    color: #fff;
    height: 24px;
    background-color: #d0112b;
    padding: 12px 40px;
    cursor: pointer;
    text-align: center;
}

.btn_full_gray_round{
    color: #fff;
    height: 24px;
    background-color: #a2a2a2;
    padding: 12px 40px;
    cursor: pointer;
    text-align: center;
    border-radius: 30px;
    border: 1px solid #d6d6d6;
}
.btn_full_white_round{
    color: #666;
    height: 5px;
    padding: 3px 10px 18px;
    cursor: pointer;
    text-align: center;
    border-radius: 20px;
    border: 1px solid #d6d6d6;
    font-size: 16px;
}
.page_btn_area_notice {
    font-size: 16px;
    margin-bottom: 40px;
}

.selectric_apply{
    width: 90px;
    height: 26px;
    border: 1px solid #ccc;
    background: #fff;
    padding-left: 5px;
    color: #666;
    float: left;
    margin-right: 5px;
    margin-left: 5px;
}

.btn_Search_apply{
    width: 40px;
    height: 40px;
    background: #dedede;
    border: 1px solid #ccc;
    float: left;
    color: #111;
    background:url(../../public/assets/img/img_icon_search.png) #dedede no-repeat 50% ;
    cursor: pointer;
    padding-left: 10px;
}

.text_center{
    text-align: center;
}



/*테이블 스타일 5 */
.apply_step5_table_contents{
    width: 850px;
    border-top: 2px solid #dedede;
    text-align: left;
    color: #111;
    font-size: 14px;
    border-collapse:collapse;
    font-weight: 300;
    margin-top: 15px;
}

.apply_step5_table_contents tbody tr {
    height: 40px;
}

.apply_step5_table_contents tbody tr th{
    border-bottom: 1px solid #dedede;
    background-color: #f3f3f3;
    padding-left: 10px;
    text-align: left;
}

.apply_step5_table_contents tbody tr td{
    border-bottom: 1px solid #dedede;
    padding-left: 10px;
}

.menu_box_company_info{
    background:url(../../public/assets/img/icon_companyinfo.png) no-repeat 85% 50%;
    width: 335px;
    height: 150px;
    background-color: #fff;
    text-align: left;
    cursor: pointer;
    border: solid 1px #e8e8e8;
    box-shadow: 3px 3px 7px gray;

}

.menu_box_company_info:hover{
    color: #fff;
    background:url(../../public/assets/img/icon_companyinfo_hover.png)  no-repeat 85% 50% #d1152e;
    transition: all 0.5s;

}

.menu_box_recruit_info{
    background:url(../../public/assets/img/icon_jabinfo.png) no-repeat 85% 50%;
    width: 335px;
    height: 150px;
    background-color: #fff;
    text-align: left;
    cursor: pointer;
    border: solid 1px #e8e8e8;
    box-shadow: 3px 3px 7px gray;


}

.menu_box_recruit_info:hover{
    color: #fff;
    background: url(../../public/assets/img/icon_jabinfo_hover.png)  no-repeat 85% 50% #d1152e;
    transition: all 0.5s;

}

.menu_box_apply_info{
    background:url(../../public/assets/img/icon_Apply.png) no-repeat 85% 50%; 
    width: 335px;
    height: 150px;
    background-color: #fff;
    text-align: left;
    cursor: pointer;
    border: solid 1px #e8e8e8;
    box-shadow: 3px 3px 7px gray;

}

.menu_box_apply_info:hover{
    color: #fff;
    background: url(../../public/assets/img/icon_Apply_hover.png) no-repeat 85% 50% #d1152e;
    transition: all 0.5s;

}



.margin_bottom_37{
    margin-bottom: 37px;
 }
 
 .page_in_btn_area{
    font-size: 16px;
    margin-bottom: 40px;
 }
 
 .btn_full_cancel{
    color: #fff;
    width: 150px;
    height: 24px;
    background-color: #a2a2a2;
    padding: 12px 0;
    cursor: pointer;
 }
 
 .btn_full_join{
    color: #fff;
    width: 150px;
    height: 24px;
    background-color: #111111;
    padding: 12px 0;
    cursor: pointer;
 }

/* 회원가입 join */

.join_table_contents{
    width: 1016px;
    border-top: 2px solid #dedede;
    text-align: left;
    color: #111;
    font-size: 14px;
    border-collapse:collapse;
    font-weight: 300;
    vertical-align: middle;
}

.join_table_contents tbody tr {
    height: 40px;
}

.join_table_contents tbody tr th{
    border-bottom: 1px solid #dedede;
    background-color: #f3f3f3;
    padding-left: 10px;
    text-align: left;
}

.join_table_contents tbody tr td{
    border-bottom: 1px solid #dedede;
    padding-left: 10px;
}


.join_description{
    color: #666;
    font-size: 14px;
}

.join_privercy_contract{
    text-align: left;
    
}

.join_privercy_contract textarea{
    width: 1016px;
    height: 375px;
    border: 1px solid #dedede;
    font-family: 'Malgun Gothic','맑은 고딕','돋움', 'dotum', sans-serif;
    font-size: 14px;
    color: #333;
    line-height: 22px;
}

.join_privercy_contract_ok{
    width: 1016px;
    height: 34px;
    background-color: #f3f3f3;
    border-left: 1px solid #dedede;
    border-right: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    text-align: center;
    padding-top: 10px;
}

.join_page_description{
    font-size: 14px;
    color: #d0112b;
    margin-bottom: 50px;
}

.button_duplication{
    width: auto;
    height: 24px;
    padding: 4px 10px 0 10px;
    background-color: #666;
    color: #fff;
    cursor: pointer;
}

.button_duplication a{
    color: #fff;
}


/*회사정보입력*/

.company_info_logo_area{
    padding: 6px 0;
}

.company_info_logo_bg{
    width: 379px;
    height: 151px;
    /* background: url(../../public/assets/img/img_bg_company_logo.png) no-repeat; */
}

.company_info_logo_img{
    margin: 2px;
}

.btn_logo_img_change{
    background-color: #666; 
    width: 116px;
    height: 27px;
    padding-top: 6px;
    color: #fff; 
    margin-top: 62px;
    cursor: pointer;
}

.btn_logo_img_change a{
    color: #fff;
    padding-left: 20px;
}

.text_inp_143px{
    width: 143px;
    height: 28px;
    background-color: #fff;
    border: 1px solid #dedede;
    vertical-align: middle;
    padding: 0 10px;
    color: #333;
    font-size: 14px;
}


/* 그리드 버튼 추가 */

.btn_table_Grid_gray{
    width: auto;
    height: 24px;
    padding: 4px 12px 4px 12px;
    background-color: rgb(133, 133, 133);
    color: #fff;
    font-size: 11pt;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 5px;
    
    
}

.btn_table_Grid_gray:hover{
    width: auto;
    height: 24px;
    padding: 4px 12px 4px 12px;
    background-color: rgb(90, 90, 90);
    color: #fff;
    font-size: 11pt;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 5px;
}

.btn_table_Grid_gray a{
    color: #fff;
}

.btn_table_Grid_gray a span{
    width: 14px;
    height: 14px;
}


.react_table {
    font-size: 14px;
    font-family: 'Malgun Gothic','맑은 고딕','돋움', 'dotum', 'sans-serif';
}
